#getAQuote {
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
}

#getAQuote .card {
  padding: 60px;
  padding-left: 68px;
  padding-right: 68px;
  background: #00ca4e;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  width: 100%;
  max-width: 1136px;
  display: flex;
  position: relative;
}

#getAQuote .card .image {
  position: absolute;
  right: 0;
  top: -67px;
  transform: rotate(-12deg) scale(1.1);
}

#getAQuote .card .content {
  width: 70%;
}

#getAQuote .card .caption {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
}

#getAQuote .card .title {
  color: #ffffff;
  font-weight: bold;
  font-size: 45px;
  line-height: 54px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

#getAQuote .card .getAQuoteButton {
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 4px;
  color: #ffffff;
  line-height: 21px;
  font-weight: 500;
  text-decoration: none;
}
